#modal {
  display: grid;
  position: fixed;
  justify-self: center;
  background-color: rgb(59, 59, 59);
  top: 25%;
  height: 70%;
  z-index: 9;
  max-height: 90dvh;
  border: inset darkslateblue 1px;
  overflow-y: auto;
}
body:has(.requires-no-scroll) {
  overflow: hidden;
}
@media (max-width: 75em) {
  #modal {
    width: 100%;
    height: 75%;
  }

  * > * > ul {
    margin: 0;
    max-width: 85%;
  }
}

#modalHeader > h2 {
  margin: 0;
  color: #84defc;
  line-height: 1.3;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#modal > section {
  padding: 0.5rem;
}
#modal > section > h3 {
  font-size: 1rem;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #4691f6;
  /*scroll-behavior: unset;*/
}

#modalBg {
  position: fixed;
  z-index: 5;
  min-height: 100%;
  min-width: 100%;
  background-color: #000000;
  opacity: 0.87;
  cursor: pointer;
}
#modalBgText {
  position: relative;
  top: 15dvh;
  z-index: 11;
  text-align: center;
}

#modal > h3,
#modal h5,
#modal h4 {
  margin: 0;
}
#modalHeader {
  align-content: space-evenly;
  text-align: center;
}
#modalHeader > p {
  color: #6c757d;
}
#things {
  display: grid;
  grid-template-areas:
    "title title title"
    "achievedOrToImprove achievedOrToImprove achievedOrToImprove"
    "learned learned learned"
    "todo todo todo";

  align-content: space-between;
}
#things > h3 {
  justify-self: center;
  align-self: center;
  grid-area: title;
}

#things > h2 {
  align-self: center;
  grid-column: 1/4;
}

#things > section {
  padding: 0.5rem;
}

#achieved,
#toimprove {
  grid-area: achievedOrToImprove;
}

#learned {
  grid-area: learned;
}
#todo {
  grid-area: todo;
  margin: 0;
}

#takeaway,
#modalHeader {
  display: grid;
}
#modalLinks {
  display: flex;
  text-align: center;
}
#modalLinks > a {
  background-color: #33383d;
  width: 100%;
  border: inset darkslateblue 2px;
}
/*Scrollbar*/
#modal::-webkit-scrollbar {
  width: 3px;
}

#modal::-webkit-scrollbar-track {
  background: transparent;
  padding: 50px;
}

#modal::-webkit-scrollbar-thumb {
  background-color: orange;
}
/*Scrollbar*/
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
