:root {
  --ff-primary: "Heebo", sans-serif;
  --ff-accent: "Playfair Display", serif;
  --ff-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-family: var(--ff-sans-serif);
  /*
  font-weight: 200;
  font-size: 1.3125rem;
  line-height: 1.6;
  */
  margin: 0;
  color: white;
}
@media (max-width: 75em) {
  body {
    font-size: initial;
  }
}

h1,
p,
h2,
h3 {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

#root {
  display: grid;
  grid-template-areas:
    " main"
    " footer";
  grid-template-columns: auto;
  z-index: -1;
  background-image: url("./assets/backgrounds/16245680689844.png");
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
}
/*Link reset*/
a:link,
a:hover {
  color: #eee;
  text-decoration: none;
}

a:visited,
a:hover {
  color: #eee;
  text-decoration: none;
}

a:hover,
a:hover {
  text-decoration: none;
}

/*Layout stuff*/
main {
  grid-area: main;
  margin-left: clamp(10%, 20%, 25%);
  margin-right: clamp(10%, 20%, 25%);
}
footer {
  width: fit-content;

  grid-area: footer;
  width: 100%;
  background-color: #333d45;
  text-align: center;
}

main > section {
  height: 100svh;
  height: 100dvh;
}
/*Layout stuff*/

/*Landing stuff*/
#landing {
  display: flex;
  align-items: center;
  justify-items: center;
}

@media (max-width: 75em) {
  #landing {
    flex-wrap: wrap-reverse;
  }
  main {
    margin-left: 10%;
    margin-right: 10%;
  }
}
#landingAsideText {
  display: inline-flex;
  color: #4691f6 !important;
}
#landing > article {
  width: 100%;
}

#landingTextArea {
  grid-area: landingTextArea;
}
#landingTextArea > h1 {
  font-size: xx-large;
}
#landingTextArea > p:nth-child(2) {
  font-size: xx-large;
}
#landingTextArea > p:nth-child(2) > span,
#descriptionLanding > span {
  font-size: initial;
  color: #6c757d;
}
#descriptionLanding > span {
  font-size: initial;
  color: #6c757d;
  font-size: smaller;
}
#gifArea {
  grid-area: gifArea;
}

#gifArea > img {
  width: 100%;
  border-radius: 10%;
  box-shadow: 5px 10px #2c1a4e;
}
/*Landing stuff*/

/*Project stuff*/
#projects {
  display: grid;
  grid-template-rows: 5% auto auto 5%;
  grid-template-areas:
    "title title title "
    "project-1 project-1 project-1"
    "project-2 project-3 project-4";
  gap: 0.5rem;
  grid-auto-rows: auto;
}

#projects > h1 {
  text-align: center;
  grid-area: title;
  border-bottom: 2px solid darkgrey;
}

#project-1 {
  grid-area: project-1;
}
#project-2 {
  grid-area: project-2;
}
#project-3 {
  grid-area: project-3;
}
#project-4 {
  grid-area: project-4;
}

@media (max-width: 75em) {
  #projects {
    grid-template-rows: 10% 2fr 1fr 1fr 1fr;
    grid-template-areas:
      "title "
      "project-1"
      "project-2"
      "project-3"
      "project-4";
    height: fit-content;
  }

  #projects > h1 {
    align-self: center;
  }
}
/*Project stuff*/

/*Skills stuff*/
@media (max-width: 75em) {
  #skillsSection {
    padding-top: 3rem;
  }
}
#skillsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#skillsSection > * > button {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

#skillsSection > * > button:hover {
  background-color: #04aa6d !important;
}
/* Green */
.success {
  border-color: #04aa6d !important;
}

.success:hover {
  background-color: orange !important;
}

#skillsSection > #coursesAndProjects > button {
  text-align: center;
  border-radius: 8px;
  padding: 4px 10px;
  margin: 4px;
  cursor: pointer;
  /*
  background: linear-gradient(
    to right,
    rgb(73, 140, 82) 20%,
    rgb(37, 37, 48) 50%
  );
  */
}
#skillsSection > #skills > button {
  text-align: center;
  border-radius: 8px;
  background-color: rgb(37, 37, 48);
  padding: 4px 10px;
  margin: 4px;
  cursor: pointer;
}
@media (max-width: 75em) {
  #skillsSection {
    height: fit-content;
  }
  #skillsSection > * > h4 {
    text-align: center;
    margin: 0;
  }
}
#skillsSection > * > h4 {
  border-bottom: 1px solid whitesmoke;
  margin: 0;
}

#skills {
  border-right: 1px solid whitesmoke;
}

/*Skills stuff*/

/*About Stuff*/

#about {
  max-width: 100svw;
  word-wrap: break-word;
  height: fit-content;
}
@media (max-width: 75em) {
  #about > h3,
  h4,
  h2 {
    text-align: center;
    border-bottom: inset 1px gray;
  }
}
#about > h3,
h2 {
  text-align: center;
  border-bottom: inset 1px gray;
}

#about > h2 {
  text-align: center;
  border-bottom: outset 5px #5dcbcb;
}
#about > p {
  word-wrap: break-word;
  padding-left: 0.6rem;
}
#about > h3,
h4 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

#about > p > span {
  color: #6c757d;
}

.bolder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  font-weight: bolder;
}

.bolder > p {
  padding-left: 0.5rem;
}

span > p {
  color: #6c757d;
}
.italic {
  font-style: italic;
}

/*About Stuff*/

/*Aside stuff*/
#asideLeft {
  left: 0px;
  justify-content: flex-end;
}
#asideRight {
  right: 0px;
}

/*Nav stuff*/
aside {
  position: fixed;
  width: 80px;
  height: 100vh;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.5rem;
  background-color: transparent;
}

aside > a {
  margin-bottom: 1.3rem;
  margin-top: 1rem;
}

svg {
  width: 1.6rem;
  height: 1.6rem;
}

#verticalBar {
  height: 100px;
  width: 2px;
  background: rgb(30, 30, 49);
}

@media (max-width: 75em) {
  #verticalBar {
    display: none;
  }

  aside {
    flex-direction: row;
    width: 100%;
  }

  #asideLeft,
  #asideRight {
    position: fixed;
    width: 100%;
    height: 2vh;
    align-items: flex-start;
    justify-content: space-around;
    background-color: rgb(59, 59, 59);
    z-index: 9;
  }
  #asideLeft {
    position: relative;
  }
}

.highlighted {
  border-bottom: 1px orange solid;
}
/*Nav stuff*/
