:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Playfair Display", serif;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
  margin: 0;
}

h1,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

#root {
  display: grid;
  grid-template-areas:
    " main"
    " footer";
  grid-template-columns: auto;
  z-index: -1;
  background-image: url("./assets/backgrounds/16245680689844.png");
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
}

/*Nav stuff*/
aside {
  width: 25%;
  background-color: orange;
  height: 100%;
  position: fixed;
}
aside > nav {
  height: 100%;
  min-height: 100svh;
  min-height: 100dvh;
  min-width: clamp(6rem, 10%, 25%);
  display: grid;
  grid-template-columns: minmax(10%, auto);
  grid-template-rows: repeat(3, minmax(1fr, auto));
  justify-items: center;
  align-items: center;
}

aside > a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
/*Nav stuff*/

/*Layout stuff*/
main {
  grid-area: main;
  margin-left: clamp(10%, 15%, 20%);
  margin-right: clamp(10%, 15%, 20%);
}
footer {
  grid-area: footer;
}

section {
  height: 100svh;
  height: 100dvh;
}
/*Layout stuff*/

/*Landing stuff*/
#landing {
  display: flex;
  align-items: center;
  justify-items: center;
}

@media (max-width: 40em) {
  #landing {
    flex-wrap: wrap-reverse;
  }
  main {
    margin-left: 10%;
    margin-right: 10%;
  }
}

#landing > article {
  width: 100%;
}

#landingTextArea {
  grid-area: landingTextArea;
}

#gifArea {
  grid-area: gifArea;
}

#gifArea > img {
  width: 100%;
  border-radius: 10%;
  box-shadow: 5px 10px #2c1a4e;
}
/*Landing stuff*/

/*Project stuff*/
#projects {
  display: grid;
  grid-template-rows: 5% auto auto 5%;
  grid-template-areas:
    "title title title "
    "project-1 project-1 project-1"
    "project-2 project-3 project-4";
  gap: 1rem;
  grid-auto-rows: auto;
}

#projects > h1 {
  text-align: center;
  grid-area: title;
  border-bottom: 2px solid darkgrey;
}

#project-1 {
  grid-area: project-1;
}
#project-2 {
  grid-area: project-2;
}
#project-3 {
  grid-area: project-3;
}
#project-4 {
  grid-area: project-4;
}

.project {
  background-color: gray;
  border: red 2px solid;
}

@media (max-width: 40em) {
  #projects {
    grid-template-rows: 10% 2fr 1fr 1fr 1fr;
    grid-template-areas:
      "title "
      "project-1"
      "project-2"
      "project-3"
      "project-4";
  }
}
/*Project stuff*/
